{% extends 'base.html' %}

{% block content %}

{% if imagens %}
  <div class='container container-limit'>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th></th>
           	<th class="default"> Descrição </th>
        </tr>
      </thead>
      <tbody>
		{% for imagem in imagens %}
		    <tr>
    			<td style='width:70px;'>
    				<div class="btn-group">
            			<a class="btn btn-mini" href="{{ imagem.get_url_alterar }}"><i class="icon-edit"></i></a>
            			<a class="btn btn-mini" href="{{ imagem.get_url_remover }}"><i class="icon-trash"></i></a>
            		</div>
          		</td>                           
          		<td class="{control-label">{{ imagem.descricao }}</td>
          		<td> <img src="{{ MEDIA_URL }}{{ imagem.imagem }}" class="img-polaroid" width="100" height="50"></td>
          	</tr>
		{% endfor %} 
		</tbody>
    </table>
  </div>
{% else %}
  <div class="paginas-erro conteudo-erro">
	<h1>Ops!</h1>
    <h2>Sem imagem... sem listagem.</h2>
    <h3>Por favor, cadastrar imagem!</h3>
  </div>
{% endif %}

{% endblock %}
