<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Galeria ;) </title>
        <meta charset="UTF-8" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <link href="{{ MEDIA_URL }}css/bootstrap.css" rel="stylesheet">
        {% block head %}
        <!-- head -->
        {% endblock %}       
    </head>
    <body>
        {% include 'menu.html' %} 

        {% block content %}
        <!-- content -->
        {% endblock %}

        {% block js %}
        <!-- javascript -->
        {% endblock %}
    </body>
</html>
